<p>Hello <%= @user.username %>.</p>

<p>
  Thank you for your interest in CodeLabs. You have been successfully registered in the system. You can follow
  <%= link_to 'this link', %i[new session] %> to log in.
</p>

<p>CodeLabs Team</p>
