<div id="checker-tab" class="tab-pane fade">
  <h3><%= t 'problems.new.checker.title' %></h3>

  <%= f.input :checker_compiler_id, collection: Compiler.status_public, include_blank: false %>

  <%= f.input :checker_source %>
</div>
