<div class="row list_row ">

    <div class="col-md-1 center border">
      <%= link_to controller: "problems", action: "show", id: problem.id do %>
        <p><%= problem.id %></p>
      <% end %>

    </div>

    <div class="col-md-9 center border">
      <%= link_to controller: "problems", action: "show", id: problem.id do %>
        <p><%= problem.caption %></p>
      <% end %>
    </div>

    <div class="col-md-2 center">
      <p>0%</p>
    </div>

</div>
