<tr>
  <td><%= problem.id %></td>

  <td>
    <% if policy(problem).show? %>
      <%= link_to problem.caption, problem %>
    <% else %>
      <%= problem.caption %>
    <% end %>
  </td>

  <td>0%</td>
</tr>
