<div class="row list-row" data-href="<%= url_for problem %>">
  <div class="list-row__col list-row__col--with-border col-md-1">
    <%= problem.id %>
  </div>

  <div class="list-row__col list-row__col--with-border col-md-9">
    <%= problem.caption %>
  </div>

  <div class="list-row__col col-md-2">
    0%
  </div>
</div>
