<div id="tests-tab" class="tab-pane fade">
  <table class="table table-custom">
    <thead>
      <tr>
        <th style="width: 12rem">Num</th>

        <th>Input</th>

        <th>Answer</th>

        <th style="width: 52px"></th>

        <th style="width: 52px"></th>
      </tr>
    </thead>

    <tbody id="tests">
      <%= f.simple_fields_for :tests do |builder| %>
        <%= render 'test_fields', f: builder %>
      <% end %>
    </tbody>
  </table>

  <%= link_to_add_association '+', f, :tests, class: 'btn btn-warning',
    data: { association_insertion_node: '#tests', association_insertion_method: :append } %>
</div>
