<tr>
  <td><%= f.input :num, wrapper: :table %></td>

  <td><%= f.input :input, wrapper: :table_file %></td>

  <td><%= f.input :answer, wrapper: :table_file %></td>

  <td>
    <%= link_to_remove_association f, class: 'btn btn-danger' do %>
      <i class="fas fa-times"></i>
    <% end %>
  </td>
</tr>
