<div id="translations-tab" class="tab-pane fade">
  <h3><%= t 'problems.new.translations.title' %></h3>

  <div id="translations" class="translations">
    <%= f.simple_fields_for :translations do |builder| %>
      <%= render 'translation_fields', f: builder %>
    <% end %>
  </div>

  <%= link_to_add_association '+', f, :translations, class: 'btn btn-warning',
    data: { association_insertion_node: '#translations', association_insertion_method: :append } %>
</div>
