<div class="row bg-light" style="padding: 15px">
    <div class="col-xs-12" style="padding-left: 0">
        <h1><%= t 'problems.new.title' %></h1>
    </div>
    <form id="add_problem_form" action="/tests.json" enctype='multipart/form-data' method="post">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#limit_block">Ограничения</a></li>
            <li><a data-toggle="tab" href="#test_block">Тесты</a></li>
            <li><a data-toggle="tab" href="#translation_block">Переводы</a></li>
            <li><a data-toggle="tab" href="#checker_block">Чекер</a></li>
        </ul>

        <div class="tab-content">
            <div id="limit_block" class="tab-pane fade active in">
                <h3>Ограничения</h3>

                <label for="memory">Память</label>
                <div class="form-group">
                    <div class="input-group">
                        <input id="memory" type="text" class="form-control" placeholder="Допустимые затраты памяти"
                               value="32568" name="memory">
                        <span class="input-group-addon">kb</span>
                    </div>
                </div>

                <label for="time">Время</label>
                <div class="form-group">
                    <div class="input-group">
                        <input id="time" type="text" class="form-control" placeholder="Время на выполнение"
                               value="100"
                               name="time">
                        <span class="input-group-addon">ms</span>
                    </div>
                </div>

                <label for="rtime">Настоящее время</label>
                <div class="form-group">
                    <div class="input-group">
                        <input id="rtime" type="text" class="form-control" placeholder="Время на выполнение"
                               value="5000"
                               name="rtime">
                        <span class="input-group-addon">ms</span>
                    </div>
                </div>
            </div>

            <div id="test_block" class="tab-pane fade">
                <h3>Примеры входных / выходных данных</h3>

                <div id="examples">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="button" class="btn btn-warning" style="margin-top: 15px;"><strong>+</strong>
                            </button>
                        </div>
                    </div>
                </div>

                <br>

                <h3>Тесты</h3>

                <div id="tests_part">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <table id="tests" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Input</th>
                                    <th>Answer</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="button" class="btn btn-warning"><strong>+</strong></button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="translation_block" class="tab-pane fade">
                <h3>Переводы</h3>

                <div id="translations">

                </div>

                <button type="button" class="btn btn-warning"><strong>+</strong></button>
            </div>

            <div id="checker_block" class="tab-pane fade">
                <h3>Чекер</h3>

                <div class="form-group">
                    <label for="checker_compiler">Выберите компилятор чекера</label>
                    <select class="form-control" id="checker_compiler" name="checker_compiler">
                        <option value="1">g++</option>
                        <option value="128">vc++</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="checker">Выберите файл чекера</label>
                    <input name="checker" type="file" id="checker"/>
                </div>
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-default">Создать</button>
    </form>

    <div id="process-problem-archive-log" class="col-xs-12 col-md-6" data-channel-id="<%= channel_id %>"></div>
</div>

<style>
    /*.input-group {*/
    /*width: 200px;*/
    /*}*/

    /*.form-group {*/
    /*width: 250px;*/
    /*}*/
</style>