<div class="row bg-light">
    <div class="col-xs-12">
        <h1><%= t 'problems.new.title' %></h1>
    </div>
	<form id="form" action="">
		<div class="col-xs-12 col-md-6">
			<h3>Ограничения</h3>

			<label for="memory">Память</label>
			<div class="input-group">
				<input id="memory" type="text" class="form-control" placeholder="Допустимые затраты памяти"
					value="32568" name="memory">
				<span class="input-group-addon">kb</span>
			</div>

			<label for="time">Время</label>
			<div class="input-group">
				<input id="time" type="text" class="form-control" placeholder="Время на выполнение" value="100"
					name="time">
				<span class="input-group-addon">ms</span>
			</div>

			<label for="rtime">Настоящее время</label>
			<div class="input-group">
				<input id="rtime" type="text" class="form-control" placeholder="Время на выполнение" value="5000"
					name="rtime">
				<span class="input-group-addon">ms</span>
			</div>

			<br>

			<h3>Примеры входных / выходных данных</h3>

			<div id="examples">
				
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<button type="button" class="btn btn-warning"><strong>+</strong></button>
					</div>
				</div>
			</div>

			<br>

			<h3>Переводы</h3>

			<div class="form-group">
				<label for="lang">Выберите язык</label>
				<select class="form-control" id="lang" name="lang">
					<option value="uk">Украинский</option>
					<option value="ru">Русский</option>
					<option value="en">Английский</option>
				</select>
			</div>

			<label for="caption">Заголовок</label>
			<div class="input-group">
				<input id="caption" type="text" class="form-control" name="caption">
			</div>

			<label for="text">Текст</label>
			<div class="input-group">
				<input id="text" type="text" class="form-control" name="text">
			</div>

			<label for="techtext">Технический текст</label>
			<div class="input-group">
				<input id="techtext" type="text" class="form-control" name="techtext">
			</div>

			<label for="author">Автор</label>
			<div class="input-group">
				<input id="author" type="text" class="form-control" name="author">
			</div>

			<label for="tags">Теги</label>
			<div class="input-group">
				<input id="tags" type="text" data-role="tagsinput" class="form-control" name="tags">
			</div>

			<div class="form-group">
				<label for="checker">Проверка</label>
				<input name="checker" type="file"/>
			</div>
		</div>

	</form>

	<div id="process-problem-archive-log" class="col-xs-12 col-md-6" data-channel-id="<%= channel_id %>"></div>
</div>

<script src="/app/assets/javascripts/admin.js"></script>