<div class="row bg-light half-opacity">
  <div class="col-xs-12 col-12">
    <h1><%= t 'compiler.new.title' %></h1>
  </div>

  <div class="col-xs-12 col-12">
    <%= render 'form' %>
  </div>
</div>
