<table>
    <tr class="row list-row">
        <th class="list-row__col col-md-4 col-sm-4 col-xs-4">Пользователь</th>
        <th class="list-row__col col-md-8 col-sm-8 col-xs-8">Подтверждение</th>
    </tr>
    <tr class="row list-row">
        <td class="list-row__col list-row__col--with-border col-md-9 col-sm-9 col-xs-9">user@example.com</td>
        <td class="list-row__col col-md-3 col-sm-3 col-xs-3">
            <button type="button" data-loading-text="Добавление..." class="btn btn-primary confirm-user" autocomplete="off">
                Добавить
            </button>

            <button type="button" data-loading-text="Удаление..." class="btn btn-danger rm-user" autocomplete="off">
                Удалить
            </button>
        </td>
    </tr>
    <tr class="row list-row">
        <td class="list-row__col list-row__col--with-border col-md-9 col-sm-9 col-xs-9">user1@example.com</td>
        <td class="list-row__col col-md-3 col-sm-3 col-xs-3">
            <button type="button" data-loading-text="Добавление..." class="btn btn-primary confirm-user" autocomplete="off">
                Добавить
            </button>

            <button type="button" data-loading-text="Удаление..." class="btn btn-danger rm-user" autocomplete="off">
                Удалить
            </button>
        </td>
    </tr>
</table>

<script>
    $('.confirm-user').on('click', function () {
        const $btn = $(this).button('loading');

        //$.ajax(/*TODO*/);

        $btn.button('reset')
    });

    $('.rm-user').on('click', function () {
        const $btn = $(this).button('loading');

        //$.ajax(/*TODO*/);

        $btn.button('reset')
    });
</script>