<div id="confirm_users_page" class="bg-light" style="padding: 15px;">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th><%= t 'profile.user' %></th>
            <th><%= t 'profile.confirm' %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>user@example.com</td>
            <td>
                <button type="button" data-loading-text="Добавление..." class="btn btn-primary confirm-user"
                        autocomplete="off">
                    Добавить
                </button>

                <button type="button" data-loading-text="Удаление..." class="btn btn-danger rm-user" autocomplete="off">
                    Удалить
                </button>
            </td>
        </tr>
        <tr>
            <td>user1@example.com</td>
            <td>
                <button type="button" data-loading-text="Добавление..." class="btn btn-primary confirm-user"
                        autocomplete="off">
                    Добавить
                </button>

                <button type="button" data-loading-text="Удаление..." class="btn btn-danger rm-user" autocomplete="off">
                    Удалить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>