@font-face {
    font-family:FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot);
	src: url(../fonts/fontawesome-webfont.svg);
	src: url(../fonts/fontawesome-webfont.woff);
	src: url(../fonts/fontawesome-webfont.woff2);
}

a,a:hover
{
	text-decoration:none;
	color:black;
}
hr
{
	margin:0;
}
body{
	background-image:url(../images/back.jpg);
	background-size:100%;
	font-family: Century Gothic, sans-serif;
}
.background2{
	background-image:url(../images/back2.jpg);
	background-size:100%;
	font-family: Century Gothic, sans-serif;
}
.container
{
	min-height: calc(100vh - 80px);
}
header
{
	display:block;
}
footer {
	text-align:center;
	display:block;
	position:absolute;
	//bottom:0;
	width:100%;
	margin-bottom:50px;
}
.logo-box {
  float: left;
}
span{color: #ff7400;}

h1,h2,h3,h4,h5{color:white;}


/*| Navigation |*/
#logo
{
	display:block;
	float:left;
	margin:10px 10px 10px 25px;
}
#spec-btn
{
    height: 60;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fe7400;
    color: white;
    border-radius: 40px;
    margin: 5;
}
}
#spec-btn:hover
{
	background-color:black;
	color:#fe7400;
}

.knopka
{
	border:none;
    height: 60;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fe7400;
    color: white;
    border-radius: 40px;
    margin: 5;
}
.knopka:hover
{
	background-color:black;
	color:#fe7400;
}

.active
{
	color:#fe7400;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:70px;
  background:black;
}
  nav ul{
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
	padding:0;
	margin-right:20px;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li a:hover{background:#ff7400;text-decoration: none; color:white;}
    nav ul li:hover > ul{display: block;text-decoration: none;}
    nav ul li a{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
		text-decoration: none;
        display: block; 
        padding:0 20px;
        color: white; 
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
		line-height:70px;
      }
      nav ul ul{
        display: none;
        background: white;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          }	
button{
	border:none;
    height: 60;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fe7400;
    color: white;
    border-radius: 40px;
    margin: 5;
}
button:hover
{
	background-color:black;
	color:#fe7400;
}
.mar
{
	margin-top:150px;
}
/*.text-block-home > h4,h1
{
	text-shadow: 4px 2px 2px #161414;
}*/
/*FORMA ZAPOLNENIYA*/

#login-form {
	background-color:rgba(0,0,0,0.5);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	width: 404px;
   font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
   box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  padding:30px 20px;
}

#login-form h1 {
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding-bottom:10px;
	text-align: center;
  font-family: Century Gothic, sans-serif;
	font-size: 27px;
}

#login-form fieldset {
	border: none;
	padding: 0px;
	position: relative;
}


#login-form fieldset form {
	overflow: hidden;
	width: 450px;
}

#login-form fieldset form input {
	font-family: Century Gothic, sans-serif;
	font-size: 20px;
	outline: none;
  -webkit-appearance:none;
  width: 35%;

}

#login-form fieldset form input[type="email"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 3px 3px;
	padding: 12px 10px;
	width: 360px;
	margin-bottom:15px;
	content: "\f0e0";
}

#login-form fieldset form input{
	margin-left:5px;
}
#login-form fieldset form input[type="password"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 3px 3px;
	padding: 12px 10px;
	width: 360px;
	margin-bottom:15px;
}

#login-form fieldset form input[type="submit"] {
	background-color: #ff7400;
	border: none;
	border-radius: 40px;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px;
  -webkit-appearance: none;
    margin-left:47%;
}

#login-form fieldset form input[type="submit"]:hover {
	background-color: black;
	color:#ff7400;
}

#login-form fieldset form span:before {
	background-color: grey;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	content: "?";
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}

#login-form fieldset form span {
	font-size: 12px;
	margin-top: 40px;
}

#login-form fieldset form span a{
	color: #eb6d1a;
	text-decoration: none;	
}

#login-form fieldset form span a:hover {
	color: #eb6d1a;
}

.queue
{
	margin-top:100px;
	background-color:white;
}
.queue_h h2,.queue_h h1
{
	color:black;
	text-shadow:none;
}
.queue_row
{
	background-color:#303030;
	padding:2px;
	margin:0;
}
.queue_row p
{
	color:white;
}
.queue_row_q
{
	margin:0;
}
.center
{
	text-align:center;
	vertical-align:middle;
}
.back1
{
	background-color:#ffe4ce;

}
.border
{
	border-right:2px solid white;
}
.back2
{
	background-color:#ffcea6;
}
.none
{
	padding:0;
}
.pagination>li>a, .pagination>li>span
{
	padding:10px 12px;
	background-color:#fe7400;
	color:white;
}
.pagination>li>a:hover, .pagination>li>span:hover
{
	background-color:#303030;
	color:white;
}
.task
{
	margin-top:100px;
	background-color:white;
}
.task *
{
	color:#303030;
}
.part p
{
	background-color:#ffe4ce;
	padding:5px;
}
.part_hr
{
	margin-top:10px;
	margin-bottom:20px;
}
.gvno
{
	color:blue;
}
.photo img
{
	width:100%;
	padding-left:0px;
	padding-bottom:5px;
	padding-right:5px;
	padding-top:5px;
}
.cab
{
	margin-top:100px;
	background-color:white;
}
.cab *
{
	color:black;
}

.nav>li>a:hover, .nav>li>a:focus
{
	background-color:#fe7400;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
	color:#fe7400;
	border:1px solid #fe7400;
	border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #fe7400;
}

@media  (max-width: 768px){
	@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);
.toggle-button {
    position: fixed;
    right: 15px;
    padding: 9px 10px;
    margin: 8px 15px 8px 0;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 3;
}

.bar {
    background-color: grey;
    display: block;
    width: 100%;
    height: 3px;
    border: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.bar + .bar {
    margin-top: 6px;
}
.middle {
    top: 11px;
}
.bottom {
    top: 22px;
}
.toggle-button:hover {
    opacity: .7;
}
.toggle-active .bar {
    background-color: #fff;
}
.toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .middle {
   opacity: 0;
}
.toggle-active .bottom {
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
}

.overlay {
    position: fixed;
   background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.overlay ul {
    display: block;
    position: relative;
    top: 60px;
    left: 0;
    font-family: 'Vollkorn', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    padding: 0;
	float:none;
}
.overlay ul li {
    display: block;
	float:none;
}
.overlay ul li a {
    color: #fff;
    text-decoration: none;
}
.overlay ul li #spec-btn{
	color:white;
	float:none;
	display:block;
	text-align: center;
	line-height:0;
}

