<% url = url_for submission if policy(submission).show? %>

<tr>
  <td><%= link_to submission.id, submission %></td>

  <td><%= link_to submission.problem_caption, submission.problem %></td>

  <td><%= submission.user_name %></td>

  <td><%= submission.state %></td>
</tr>
