<div class="row bg-light">
  <div class="col-xs-12 col-12">
    <h1><%= t 'submissions.new.title', problem_caption: parent.caption %></h1>
  </div>

  <div class="col-xs-12 col-12">
    <%= render 'form' %>
  </div>
</div>
