<section class="row bg-light">
    <form action="/api/group/create" method="post">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter group name">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Create</button>
      </span>
        </div>
    </form>
</section>