<div class="page bg-light">
  <h1><%= t 'workers.index.title' %></h1>

  <div>
    <% collection.decorate.each_slice 3 do |slice| %>
      <div class="card-deck">
        <% slice.each do |worker| %>
          <%= render worker %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
