<div class="row bg-light">
  <div class="col-xs-12 col-12">
    <h1><%= t 'workers.index.title' %></h1>
  </div>

  <div class="col-12">
    <% collection.decorate.each_slice 3 do |slice| %>
      <div class="card-deck">
        <% slice.each do |worker| %>
          <%= render worker %>
        <% end %>
      </div>
    <% end %>

    <%= paginate collection %>
  </div>
</div>

<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>
