/*
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: image-url('background-1.jpg');
  background-size: cover;
  font-family: 'Century Gothic', sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}
