/*
 *= require bootstrap-tagsinput.min.css
 *= require overlay.css
 */

@import "bootstrap";
@import "toastr/toastr";
@import "sweetalert2";
@import "*";

@font-face {
  font-family: "Century Gothic";
  src: asset-url("CenturyGothic.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: #6d3606 image-url("background-1.jpg");
  background-size: cover;
  font-family: "Century Gothic", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}
