.bg-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff
}

.bg-light {
  background-color: #f6f6f6;
  color: #000000;
}

.bg-white {
  background-color: #ffffff;
  color: #000000;
}

.bg-transparent {
  background-color: transparent;
  color: #ffffff;
}
