.btn-default {
  color: #ffffff;
  background-color: #0093FF;
  border-color: #0093FF;
  transition: all .2s ease-in-out;

  &:focus {
    color: #ffffff;
    background-color: #0093FF;
    border-color: #0093FF;
  }

  &:hover {
    color: lightcyan;
    background-color: #000000;
    border-color: #000000;
  }
}
