.btn-default {
  color: #ffffff;
  background-color: #ff7400;
  border-color: #ff7400;
  transition: all .2s ease-in-out;

  &:focus {
    color: #ffffff;
    background-color: #ff7400;
    border-color: #ff7400;
  }

  &:hover {
    color: #ff7400;
    background-color: #000000;
    border-color: #000000;
  }
}
