.header-section {
  display: inline-flex;
  justify-content: space-between;

  &__item > a {
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    background-color: #000000;
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s ease-in-out;
    white-space: nowrap;

    &:hover {
      color: #ffffff;
      background-color: #0093FF;
      text-decoration: none;
    }

    &:focus {
      color: #ffffff;
      text-decoration: none;
    }

    &--active {
      color: #0093FF;

      &:focus {
        color: #0093FF;
      }

      &:hover {
        color: #ffffff;
      }
    }
  }
}
