.nav-tabs {
  margin-bottom: 1rem;
  border-color: #0093FF;

  >li {
    >a,
    >a:focus,
    >a:hover {
      color: #000000;
    }
    
    >a:hover {
      border-color: #eee #eee #0093FF;
    }

    &.active {
      >a,
      >a:focus,
      >a:hover {
        color: #ffffff;
        background-color: #0093FF;
        border-color: #0093FF;
      }
    }
  }
}
